<form class="main-block">
  <h2>Loan Offers</h2>

  <ul class="loan-offers">
    <li (click)="selectOffer(offer)" *ngFor="let offer of offers" [class.selected]="offer === selectedOffer">
      {{ offer.name }}
    </li>
  </ul>

  <div *ngIf="selectedOffer" class="offer-details">
    <h3>{{ selectedOffer.name }}</h3>
    <p>{{ selectedOffer.details }}</p>
  </div>

  <div>
    <input (click)="goToPrevious()" type="button" value="Previous"/>
    <input (click)="onContinue()" *ngIf="selectedOffer" type="button" value="Continue">
  </div>
</form>
